@import './colors.css';

:root {
	--sidebarWidth: 14rem;
}

* {
	box-sizing: border-box;
	transition: all 0.15s;
	box-sizing: border-box;
}

body {
	margin: 0;
}

.row > * {
	background-color: rgba(0, 0, 0, 0);
	/* outline: 2px solid pink; */
	margin: 1rem 0;
}

a {
	text-decoration: none !important;
	color: black !important;
	font-size: 1.2rem;
	cursor: pointer;
}

h1 {
	font-size: 4rem !important;
}

h2 {
	font-size: 2.5rem !important;
}

h3 {
	border-bottom: 3px solid var(--yellow);
	display: inline-block;
	padding: 0.25rem 0;
}

h6 {
	font-size: .8rem !important;
	font-weight: 400 !important;
}

/* desktop header */
header.desktop {
	text-align: center;
	padding: 5rem 0;
}

header a {
	margin: 1rem 1.5rem;
}

/* mobile header */
header.mobile {
	display: none;
	padding: 2rem 0;
}

/* sidebar */
.links a {
	margin: 0.5rem 0;
}

.sidebar {
	transition: translateX(100px);
	height: 100vh;
	background-color: var(--yellow);
	padding: 2rem 3rem;
	width: var(--sidebarWidth);
	position: fixed;
	top: 0;
	right: 0;
	display: none;
	grid-template-rows: 2rem 1fr;
	transform: translate(var(--sidebarWidth));
	z-index: 1;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.sidebar > .links {
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.sidebar a {
	color: var(--red) !important;
	font-size: 1.5rem;
}

#sidebarToggle {
	display: none;
}

#sidebarToggle:checked ~ .sidebar {
	transform: translate(0);
}

.sidebar-btn {
	color: black;
	width: 2rem;
	height: 2rem;
	text-align: center;
	border-radius: 50%;
	padding: 0.25rem;
	float: right;
	cursor: pointer;
	color: var(--red);
	font-size: 1.8rem;
	font-weight: bold;
}

.hamburger {
	position: relative;
	top: -0.7rem;
}

.sidebar-btn:hover {
	transform: scale(1.2);
}

.sidebar .sidebar-btn {
	justify-self: end;
}

/* footer */
footer {
	background-color: var(--blue);
	padding: 1rem 0;
}

footer img {
	height: 3rem;
	background: white;
	padding: 0.25rem;
	margin: 1rem;
	border-radius: 1rem;
}

section {
	padding: 1rem 0 2rem 0;
}

/* utility classes */
.centerContent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contain {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.bubble {
	background-color: var(--yellow) !important;
	padding: 0.25rem 0.5rem 0.5rem 0.5rem;
	border-radius: 0.5rem;
}

/* media queries */
@media (max-width: 992px) {
	header.desktop {
		display: none;
	}
	header.mobile {
		display: block;
	}
	.sidebar {
		display: grid;
	}
	h1 {
		font-size: 3rem !important;
	}
}

/* modifying bootstrap */
.container-fluid {
	padding: 0 !important;
	overflow: hidden;
	max-width: 1300px;
	min-height: calc(100vh - 112px);
}
