.squareImg {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.wideImg {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.projects img {
	border: 2px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	border-radius: 0.25rem;
}